:root {
    --bs-body-font-family: "Poppins Medium";
    --brand-ivory: #FEFFF1;
    --brand-sage: #59132E;
    --brand-gold: #415543;
    --brand-charcoal: #59132E;
    --nav-height: 2rem;
    --base-font-size: 16px;
    --scale-ratio: 1.5;
    --h1-size: calc(var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio));
    --h2-size: calc(var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio)); 
    --h3-size: calc(var(--base-font-size) * var(--scale-ratio) * var(--scale-ratio)); 
    --h4-size: calc(var(--base-font-size) * var(--scale-ratio)); 
    --body-size: var(--base-font-size);
    --caption-size: calc(var(--base-font-size) / 1.5); 
    --small-print-size: calc(var(--caption-size) / 1.5); 
}

body {
    background: var(--brand-ivory);
    font-family: 'Poppins Regular', sans-serif;
    font-size: var(--body-size);
}

/*-- FONTS --*/

@font-face {
    font-family: 'Poppins Medium';
    font-style: medium;
    src:local('Poppins Medium'), local('Poppins-Medium'),
    url('/Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    src:local('Poppins Regular'), local('Poppins-Regular'),
    url('/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Italic';
    font-style: italic;
    src:local('Poppins Italic'), local('Poppins-Italic'),
    url('/Fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nave Bold';
    font-style: bold;
    src:local('Nave Bold'), local('nave-bold'),
    url('/Fonts/nave-font-family/nave-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nave Medium';
    font-style: medium;
    src:local('Nave Medium'), local('nave-medium'),
    url('/Fonts/nave-font-family/nave-medium.ttf') format('truetype');
}

/*-- END FONTS --*/ 

/*-- HEADINGS --*/

h1, h2 {
    font-family: 'Nave Bold';
}

h3, h4 {
    font-family: 'Nave Medium';
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

p {
    font-family: 'Poppins Regular', sans-serif;
    font-size: var(--body-size);
}

.caption {
    font-size: var(--caption-size);
}

.small-print {
    font-size: var(--small-print-size);
    text-transform: uppercase;
}


/*-- NAVBAR -- */
.navbar{
    top: 0%;
    font-family: 'Poppins Medium';
}

#shopNav .navbar{
    top: 0% !important;
}

.navbar-brand {
    position: absolute;        
    left: 50%;                   
    transform: translateX(-50%); 
    margin-left: 0;
    align-items: center; 
    
}
.nav-link {
    color: var(--brand-charcoal) !important;
    text-transform: uppercase;
    font-size: 1rem;
}

#mainNav {
    background: #FEFFF1;           
    transition: top, padding .3s ease, background-color .3s ease, box-shadow .3s;
    position: sticky;          
    top: 3%;
}

#mainNav .brand-logo {
    height: 56px;                 
    transition: height .3s ease;
}

#shopNav .navbar-brand {
    position: static !important;
    transform: none !important;
    margin: 0;                  
}

#mainNav.navbar--shrink {
    padding-block: 0.5rem;         
    box-shadow: 0 2px 10px #00000014;
    top: 0;
    padding-top: 0.25 !important; 
    padding-bottom: .25rem;  
}

#mainNav.navbar--shrink .brand-logo {
    height: 28px;                
}

#mainNav.navbar--shrink .brand {
    width: 50px;
    height: 50px;   
}

#shopNav.navbar--shrink {
    padding-block: 0.5rem;         
    box-shadow: 0 2px 10px #00000014;
    top: 0;
    padding-top: 0.25 !important; 
    padding-bottom: .25rem;  
}

#shopNav.navbar--shrink .shopbrandLogo {
    width: 50px;
    height: 50px; 
}

@media (min-width: 992px) {                      
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 991.98px) {
    #mainNav {
        padding-top: 1 !important;
        padding-bottom: 1 !important;
    }
    
    #shopNav {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .navbar-brand {
        position: static !important;     
        transform: none !important;      
    }
    
    .navbar-toggler {
        left: 2rem !important;
    }
    
    #shopNav .navbar-collapse.show {
        background:#FEFFF1;
        border-radius: 5%;
    }
}

#shopNav.navbar--transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}

#shopNav.navbar--top {
    background: transparent !important;
    box-shadow: none !important;
}

#shopNav:not(.navbar--top) {
    background: #FEFFF1 !important;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

/*-- END NAVBAR --*/

/*-- HOME HERO --*/
.hero {
    position: relative;
    background: url("/Images/Flowers/flowers.jpg")
    center/cover no-repeat; 
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FEFFF1;
    overflow: hidden; 
}

.hero-overlay {
    position: relative;                                 
    z-index: 2;
    max-width: 700px;
    padding: 5rem 1rem;
}

.hero::before {                                       
    content: "";
    position: absolute;
    inset: 0;                                           
    background: #0000000d;                        
    z-index: 1;                                       
}

.hero h1 {
    font-family: "Nave Bold";
    font-size: 81px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    color: #FEFFF1;
    text-shadow: 0 3px 3px #00000059;
}
.hero p {
    max-width: 540px;
    margin-inline: auto;
    font-size: var(--body-size);
    font-weight: 400;
    letter-spacing: 1px;
    color: #FEFFF1;
    text-shadow: 0 0 10px #00000073;
}
.btn-ghost {
    border: 2px solid #FEFFF1;
    font-weight: 600;
    margin-top: 1.5rem;
}

.hero--first { margin-top: 5rem; }

/*-- END HOME HERO --*/

/*-- BUTTONS --*/

/*!! figure out how to have shadow on only normal button, NOT hover !!*/
.btn-outline-light {
    border-radius: 3rem;                 
    padding: 0.8rem 3rem;       
    --bs-btn-color:            #FEFFF1;  
    --bs-btn-border-color:     #FEFFF1;  
    --bs-btn-bg:               transparent;
    --bs-btn-hover-bg:         #FEFFF1;  
    --bs-btn-hover-border-color:#FEFFF1;
    --bs-btn-hover-color:      #59132E; 
}

.btn-primary-brand {
    border-radius: 3rem;                 
    padding: 0.8rem 3rem;       
    --bs-btn-color:            #FEFFF1;  
    --bs-btn-border-color:     #59132E;  
    --bs-btn-bg:               #59132e;
    --bs-btn-hover-bg:         #7C4D55;  
    --bs-btn-hover-border-color:#7C4D55;
    --bs-btn-hover-color:      #FEFFF1; 
}

/*-- END BUTTONS --*/

/*-- BANNER --*/
.promo-banner {
    width: 100%;
    background: #415543;           
    color: #FEFFF1;                
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1;          
    overflow: hidden;             
    padding-block: 0.6rem;       
}

/*-- MOVING TRACK --*/
.promo-track {
    display: flex;
    white-space: max-content;          
    animation: scroll-left 25s linear infinite;
}

.promo-msg{
    white-space: nowrap;
    padding-inline: 1rem;
}

.promo-msg::after {
    content: attr(content);
}

@keyframes scroll-left {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

/*-- PAUSE ON HOVER - ACCESSIBILITY --*/
.promo-banner:hover .promo-track,
.promo-banner:focus-within .promo-track {
    animation-play-state: paused;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*-- END BANNER CONTAINER --*/


/*-- SECTION FORMAT --*/
.section-heading {
    font-size: var(--h3-size);
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    letter-spacing: 1px;
    color: #3B3B3B;
}
.section-sub {
    font-size: var(--body-size);
    letter-spacing: .5px;
    margin-bottom: 2.5rem;
    color: var(--brand-charcoal);
}

/*-- END SECTION FORMAT --*/

/*-- SHOPPING CARDS --*/
.category-img-wrapper {
    aspect-ratio: 3/4;                
    border-radius: 12px;
    overflow: hidden;         
    transition: transform .35s ease;
    margin-top: 2rem;
}

.category-card:hover .category-img-wrapper {
    transform: scale(1.05);    
}

.category-card:hover .category-img-wrapper {
    box-shadow: 0 10px 25px rgba(0,0,0,.18);
}

.category-title {
    font-family: "Nave Medium";
    font-size: 1.25rem;
    color: #3B3B3B;
    transition: color .25s;
}

.category-card:hover .category-title {
    color: #59132E;
}

/*-- END SHOPPING CARDS --*/

/*-- TESTIMONIALS --*/
.testimonials-section {
    background: #819280 ;              
    color: #FEFFF1;
    .section-heading{
        color:#FEFFF1;
    }
    margin-top: 2.5rem;
}

.testimonial-item {
    max-width: 760px;
    padding-top: 2rem; 
    blockquote{
        font-family: 'Poppins Regular';
        font-size: 20px;
        line-height: 22px;
    }
    figcaption{
        font-family: 'Poppins Medium';
        font-size: 16px;
        line-height: 18px;
    }
}

#testimonialCarousel .carousel-inner {
    height: 200px;
}

#testimonialCarousel .carousel-item {
    height: 200px;
}

#testimonialCarousel .carousel-item.active,
#testimonialCarousel .carousel-item-next,
#testimonialCarousel .carousel-item-prev {
    display: flex;
    align-items: center;     
    justify-content: center;
    text-align: center;
    padding: 0 1.25rem; 
}

/*-- END TESTIMONIALS --*/

/*-- CAROUSEL --*/
.carousel-control-prev,
.carousel-control-next {
    width: 8%;
}
.carousel-item img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*-- END CAROUSEL --*/

/*-- CTA BUTTON --*/
.btn-primary-brand {
    background: var(--brand-charcoal);
    border: none;
    padding: 0.75rem 3rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/*-- END CTA BUTTON --*/

/*-- NEWSLETTER --*/

.newsletter-section {
    min-height: 175px;
    background: #415543;
    position: relative;
    overflow: hidden;
    padding-block: 3rem;
    
    display: flex;      
    align-items: center;
    .section-heading {
        color:#FEFFF1;
        text-transform: none;
    }
    .section-sub {
        color:#FEFFF1;
        padding-right: 4rem;
    }
}

.nl-email {
    border-radius: 3rem 0 0 3rem !important;
    font-size: 20px;
}

.nl-submit {
    border-radius: 0 3rem 3rem 0 !important;
    min-width: 150px;
    font-weight: 600;
    border-color: #3B3B3B;
    background-color: #3B3B3B;
    color: #FEFFF1;
    
}

.nl-submit:hover,
.nl-submit:focus {
    background-color: #DDDDDD!important; 
    border-color: #DDDDDD !important;
    color: #3B3B3B !important;         
}

.nl-form {
    .btn-outline-dark {
        color: #FEFFF1;
        border-color: #3B3B3B;
    }
}

@media (max-width: 767.98px) {
    .nl-form .input-group {
        flex-direction: column;
    }
    .nl-email,
    .nl-submit {
        width: 100% !important;
        border-radius: 3rem !important;       
    }
    .nl-submit { 
        margin-top: .5rem;  
    }
}
.section-subpostnlsubmit {
    padding-right: 0;
    font-size: var(--body-size);
    letter-spacing: .5px;
    margin-bottom: 2.5rem;
    color: #FEFFF1;
}

/*-- END NEWSLETTER --*/

/*-- FOOTER --*/
footer {
    background: var(--brand-charcoal);
    color: #FEFFF1;
    padding: 2.5rem 0 3rem;
    font-family: 'Poppins Medium';
    font-size: var(--body-size);
    text-align: center;
}
footer a {
    color: #FEFFF1;
    text-decoration: none;
    margin: 0 1.5rem;
    text-transform: uppercase;
}

/*-- END FOOTER --*/

/*-- SHOP HERO --*/

.shop-hero {
    min-height: 60vh;
    background: url("/Images/Flowers/banner1.jpg") top center/cover no-repeat;
    position: relative;
}

.shop-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #0000000d;
    z-index: 0;
}

.shop-hero > .container-lg {
    position: relative;
    z-index: 1;
}

.shop-hero h1 {
    font-family: "Nave Bold";
    font-size: 81px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    margin-top: 4rem;
    color: #FEFFF1;
    text-shadow: 0 3px 3px #00000059;
}
.shop-hero p {
    max-width: 540px;
    margin-inline: auto;
    font-size: var(--body-size);
    font-weight: 400;
    letter-spacing: 1px;
    color: #FEFFF1;
    text-shadow: 0 0 10px #00000073;
}

.product-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem; 
}

.modal-img {
    width: 60%;
    height: 60%; 
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem; 
}

.modal-content {
    text-align: center;
}

.btn-outline-dark{
    color:#59132E;
    border-color: #59132E;
    .bi-cart-plus {
        color: #59132E;
    }
}

.btn-outline-dark:hover {
    color: #FEFFF1;
    background-color: #59132E;
    border-color: #59132E;
    .bi-cart-plus {
        color: #FEFFF1;
    }
}

.btn-outline-dark {
    --bs-btn-active-color: #FEFFF1;
    --bs-btn-active-bg: #59132E;
    --bs-btn-active-border-color: #59132E;
}

.card {
    background-color: #faeff0;
}

